body {
  margin-top: 30vh;
  margin-left: 3vw;

	background-size: cover ;
	background-position-x: 90%;
  background-position-y: 5%;

  background-repeat: no-repeat; /* Do not repeat the image */

}
#prev-button,
#next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 0;
  height: 0;
  border-style: solid;
  background-color: transparent;
  transition: transform 0.4s ease; /* Aggiungi una transizione di 0.2 secondi sull'animazione del pulsante */

}

#prev-button {
  left: 15vw;
  border-width: 10px 15px 10px 0;
  border-color: transparent #000 transparent transparent;
  transform-origin: 50% 50%; /* Imposta il punto di trasformazione al centro del triangolo sinistro */

}

#next-button {
  right: 15vw;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #000;
  transform-origin: 50% 50%; /* Imposta il punto di trasformazione al centro del triangolo destro */

}

/* Aggiungi uno stato hover per l'animazione */
#prev-button:hover,
#next-button:hover {
  transform: scale(1.5); /* Ingrossa il pulsante del 20% al passaggio del mouse */
}


#gallery-image {
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto; /* Centra l'immagine orizzontalmente */
  display: block; /* Imposta l'elemento come blocco per abilitare il margine automatico */
  margin-bottom: 10px;
  margin-top: 0;

}
body.index{
	background-image: url(assets/index.webp);
}

body.azienda{
	background-image: url(assets/azienda.webp);
}
body.contatti{
	background-image: url(assets/contatti.webp);
}
body.partecipare{
	background-image: url(assets/partecipare.webp);
}
body.progetto{
	background-image: url(assets/progettoM.webp);
}
body.aderire{
	background-image: url(assets/aderire.webp);
}

body.galleria{
  margin-top: 1vh;

	background:rgb(209, 122, 34);
}
header {

	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
 position: absolute;
 top: 20px;

	width: 65vh;
}


.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.menu-toggle {
  position: fixed;
	top: 40px;
	right: 50px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease;
  transform-origin: 50% 50%; 
}
.menu-toggle:hover {
  transform: scale(1.5); /* Ingrossa il pulsante del 20% al passaggio del mouse */

}
/* Stile per le tre linee del menu */
.menu-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

/* Stile per il menu quando è aperto */
nav {
  position: fixed;
  top: 90px;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: none;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a{

  color: white;
  transition: transform 1s ease;
}
nav ul li {
  margin-bottom: 10px;
}
a:hover {
   color: yellow;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Stile per il menu quando è aperto */
nav.active {

  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

#gallery-image {
  max-width: 100%;
  max-height: 80vh;
  margin: 10px auto 0; /* Aggiorna il margine superiore dell'immagine */
  display: block;
}

main {
  top:70vh;
	left: 0;
	right: 10vw;
	max-width: 70vw;

  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);

}
main2 {
  top:40vh;
	left: 0;
	right: 10vw;
	max-width: 80vw;

  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);

}
main3 {
  top:0;
	left: 0;
	right: 10vw;
	max-width: 80vw;

  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);

}
strong.yellow {
  color: yellow;
  font-weight: bold;
}
h1.yellow {
  text-align: center;
  font-weight: bold;
}
p {
  font-size: 1.4em;


}
h2 {
  color: #fff;
  font-size: 3em;

  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.3);

  }
  body {
    margin-top: 20vh;
    margin-left: 3vw;  
    background-image: url(assets/sfondoMob.jpg);
    background-size: auto ;
   background-position: center;
  
    background-repeat: no-repeat; /* Do not repeat the image */
  
  }
  main {
    top:30vh;

    left: 0;
    right: 0;
    max-width: 60vw;
  
    color: rgb(255, 255, 255);
    
  }
  .logo {
    position: absolute;
    top: 20px;
   
     width: 35vh;
   }
   nav ul li {
    margin-bottom: 20px;
    font-size: 8px;
  }
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.3);

  }
  body {
    margin-top: 20vh;
    margin-left: 3vw;  
    background-image: url(assets/sfondoMob.jpg);
    background-size: auto ;
   
  
    background-repeat: no-repeat; /* Do not repeat the image */
  
  }
  .logo {
    position: absolute;
    top: 20px;
   
     width: 35vh;
   }
   nav ul li {
    margin-bottom: 20px;
    font-size: 8px;
  }
}
